 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/style.css}" />

</head>

<body>

    <div class="sidenav">
         <img src="img/logo.jpg" id="logo"/>
        <a href="home">Run Away</a> 
        <a href="about">Sobre RunAway</a>
        <a href="calendario">Calendário </a>
        <a href="inscricao">Inscrição</a>
        <a href="login">Logout</a>
    </div>
    <div class="leftbar"></div>

    
    

    <div class="main">
       
    <h1>Quem Somos:</h1>
    <p id="p" style="text-align: justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur bibendum pretium. In facilisis ac nisl a placerat. Maecenas sed orci quis augue interdum ultricies ac vitae mauris. Curabitur augue arcu, venenatis eu dolor in, volutpat vestibulum nulla. Nam laoreet odio vitae nunc ultricies, ut semper velit venenatis. Donec sit amet ex augue. Proin nunc erat, volutpat semper malesuada sit amet, mollis hendrerit purus. Sed at turpis nisi. Vivamus semper non tellus vestibulum tempor. Nunc volutpat, est sit amet congue porta, sem ante consectetur lorem, in sollicitudin arcu sapien nec mauris. Quisque ac tortor blandit, convallis libero eget, consequat diam. Etiam et neque lorem. Maecenas ut enim nisl. Nullam sit amet velit fringilla, eleifend nibh efficitur, lacinia augue.
<br><br>
Aenean ultrices arcu urna, vel elementum velit luctus eu. Proin euismod ornare accumsan. Donec augue velit, tempus non tellus at, condimentum aliquam dolor. Sed ullamcorper lacinia fermentum. Curabitur congue pretium tortor non porttitor. Donec quis fermentum lorem. Aliquam id nunc ut erat accumsan tempus. Phasellus nunc leo, sagittis sit amet bibendum id, mollis vel elit. Pellentesque eleifend euismod dapibus. Nullam ut ornare sapien. Vivamus semper, velit vitae suscipit varius, felis purus porttitor massa, nec ultricies sapien lacus nec nunc. Sed in turpis ac eros condimentum ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus at sem vitae est vehicula vulputate. Proin eu porta mauris.
<br><br>
Cras eleifend euismod pellentesque. Maecenas sollicitudin ipsum nec erat luctus varius. In nec nisi non augue fringilla porttitor quis sit amet massa. Praesent commodo arcu ut aliquam blandit. Nam porttitor mi ut leo facilisis, at consectetur felis tempus. Aenean nec libero nisl. Nam sit amet tellus risus. Pellentesque venenatis ipsum sed arcu rutrum pharetra. Vivamus dolor ligula, commodo tempus augue ut, gravida posuere ex. Sed posuere scelerisque ex, eget bibendum est venenatis sed. Praesent luctus tristique massa, ut tincidunt augue sollicitudin id. Nulla sagittis gravida maximus. Pellentesque tincidunt mi a ultricies ullamcorper. Vestibulum placerat orci quis dolor suscipit vulputate.
<br><br>
Etiam in interdum justo. Fusce orci nisi, faucibus nec condimentum ac, eleifend vitae purus. Phasellus nunc ante, tristique vel egestas vel, tempor vestibulum dui. Praesent maximus ante in ante malesuada luctus. Proin est ante, ultricies in porttitor ut, sodales vehicula libero. Proin iaculis, lacus et rhoncus dignissim, augue nunc iaculis quam, ut pulvinar tellus risus ut ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie sem nisl, in ornare lorem aliquet id. Sed ultrices justo a venenatis tempus.</p>    
    </div>

</body>
</html> 