<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Animated Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form class="box" action="@{/login}" method="post">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
            <a href="signIn.html">
            <input type="button" name="" value="Sign in">
            </a>    
        </form>
    </body>
</html>